@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');


:root{
    --firsColorDarkgreen:#344E41;
    --SecondColorYellow: #FD853A;
    }


.AboutMePage___container{
    background-color: var(--firsColorDarkgreen);
    height: 30rem;
}



    .AboutMePage___ContainerB{
        margin: 2rem 4rem 2rem 4rem;
    }

    .AboutMePage___Heading h3{
        /* margin-top: 9rem; */
        padding-top: 3rem;
        /* font-size: 19px; */
        position: relative;
    }
    .AboutMePage___Heading h3::before{
        position: absolute;
        content: "";
        width: 1%;
        height: 100%;
        background-color: var(--SecondColorYellow);
        padding-right: 10px;
        top: 0;
        left: -22px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .AboutMe___portfolioContainer{
    
     /* margin-top: 2rem; */
     margin: 0.5rem 10rem 2rem 10rem;
  
    }

    .AboutMe__Image{
        /* margin-left: 5rem; */
        /* margin-right: 5px; */
        width: 90%;
    }
    .portFolio__infor{
        margin-top: 1.5rem;
        
    }

    .AboutMe___profilInfo p{
          text-align: justify;
          margin-top: 20px;
          /* width: 80%; */
    }

   
    .AboutMe__btn__container{
        position: relative;
        margin-top: 2rem;
        cursor: pointer;
        font-size: 14px;
        /* padding: 10px; */
        
      }
      
      .AboutMe__btn__container::after{
          position: absolute;
          content: "";
          width: 25%;
          height: 2.3rem;
          /* padding: 10px; */
          background-color: var(--SecondColorYellow);
          border-radius: 30px;
          z-index: 0;
          top: -2px;
          /* bottom: 2px; */
      }

    .AboutMePAge__button{
        padding: 4px;
    /* text-align: center; */
    font-size: 17px;
    height: auto;
    cursor: pointer;
    width: 20%;
    /* height: 3rem; */
   text-align: center;
   z-index: 1;
    }

    .AboutPage__arrowIcon{
        z-index: 1;
        
    }
  