@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --firsColorDarkgreen:#344E41;
    --SecondColorYellow: #FDC500;
    }


    .frontpage_name_container{
        margin: 2rem 4rem 2rem 4rem;
        background-color: white;
    }


.portfolio_frontpage_name{
    /* font-family: "Roboto", serif; */
    font-size: 2.5rem;
    width: 40%;
    margin-top: 12rem;
}




.frontPage_name{
    color: var(--SecondColorYellow);
    /* font-weight: bold; */
    /* text-decoration: underline; */
    font-style: italic;
    padding: 5px;
    position: relative;
}
.frontPage_name::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 3%;
    background-color: var(--SecondColorYellow);
    left: 0;
    bottom: 0;
}




.frontPage-bio{
    margin-top: 1.3rem;
}
.frontPage-bio p{
   font-size: 18px;
   line-height: 28px;
}

.frontPage___picture{
    margin-top: 4px;
}
.frontPage__btn__container{
  position: relative;
  margin-top: 2rem;
  cursor: pointer;
}

.frontPage__btn__container::after{
    position: absolute;
    content: "";
    width: 38%;
    height: 100%;
    background-color: var(--SecondColorYellow);
    border-radius: 30px;
    z-index: 0;
}


.frontPage__arrowIcon{
    z-index: 1;
}

.frontpage__button, .frontpage__button_B{
    padding: 4px;
    /* text-align: center; */
    font-size: 20px;
    height: auto;
    cursor: pointer;
    width: 30%;
    /* height: 3rem; */
   text-align: center;
   z-index: 1;
}

.frontpage__button_B{
    width: 20%;
    margin-left:1rem;
    
}


