@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --firsColorDarkgreen:#344E41;
    --SecondColorYellow: #FDC500;
    }


    .frontpage_name_container{
        margin: 2rem 4rem 2rem 4rem;
        /* background-color: white; */
    }







.frontPage-bio{
    margin-top: 1.3rem;
}
.frontPage-bio p{
   font-size: 18px;
   line-height: 28px;
}

.frontPage___picture{
    margin-top: 4px;
}





/* .frontPage__arrowIcon{
    z-index: 1; 
} */



